@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Varta', sans-serif;
}

body{
	background-color: #19123b;
}

.card{
	border: none;
	border-top: 5px solid rgb(176, 106, 252);
	background: #212042;
	color: #57557a;
}

.main_div{
	height: 100vh;
}

p{
	font-size: 20px;
	font-weight: 500;
}

a{
	text-decoration: none;
}

.social_site{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: #2a284d;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: all 0.2s linear;
}

.social_site:hover{
	cursor: pointer;
	background: #aaafff;
}

.fa-google{
	color: #3cba54;
}

.fa-facebook{
	color: #ffffff;
}

.fa-instagram{
	color: #fe4164;
}

.division{
	width: 100%;
	text-align: center;
	margin: 30px auto 20px;
}

.division span{
	font-weight: 500;
	font-size: 25px;
}

.my_form{
	padding: 0 25px 0 35px;
}

.form-control{
	border: 1px solid #57557a;
	border-radius: 2px;
	background: #212042;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.form-control:focus{
    border: 1px solid #57557a;
	border-radius: 5px;
	background: #212042;
	box-shadow: none;
	margin-bottom: 20px;
	letter-spacing: 1px;
	color: #ffffff;
}

.register_here{
	text-decoration: none;
	color: #57557a;
}

.register_here:hover{
	cursor: pointer;
	color: white;
}

.form-check-input{
	width: 0.8rem!important;
	height: 0.8rem!important;
}

.btn-primary{
	background: linear-gradient(135deg, rgba(175, 106, 252, 1) 39%, rgba(116, 17, 255, 1) 100%)!important;
	border: none;
	border-radius: 50px;
}

small{
	color: #f2ceff;
}


@media(max-width: 768px){
	.row{
		--bs-gutter-x: 0;
		--bs-gutter-y: 0;
	}
}
